@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

:root {
    --header-color: #1565C0;
    --color-fundo: #E3F2FD;
    --cor-cards: #BBDEFB;
    --cor-titulo: #1976D2;
    --font-titulo: "Sail", system-ui;
    --text-banner: "Cinzel", serif;
    --cor-botoes: #90CAF9;
}
main {
  padding: 40px;
  background-color: var(--color-fundo); 
  min-height: 70vh; 
}

#map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  top: -230px;
}

.local-selecionado h2 {
  color: var(--cor-titulo); 
  font-size: 28px;
  margin-bottom: 20px;
}

.card-local {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  background-color: var(--cor-botoes); 
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.imagem-local {
  flex: 1;
}

.imagem-local h3 {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.imagem-local img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  display: block;
}

.texto-local {
  flex: 2;
}

.texto-local h2 {
  color: var(--cor-titulo);
  font-size: 22px;
  margin-bottom: 10px;
}

.texto-local p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

#menu {
    padding: 20px;
    background-color: var(--cor-cards); 
    border-radius: 15px;
    margin: 20px auto;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: relative;
    top: -230px;
}

#menu label {
    font-family: var(--text-banner);
    color: var(--cor-titulo);
    font-size: 18px;
}

#rota {
    padding: 8px 12px;
    border: 1px solid var(--cor-titulo);
    border-radius: 10px;
    font-size: 16px;
    font-family: var(--text-banner);
    cursor: pointer;
    background-color: var(--color-fundo);
    transition: all 0.2s ease-in-out;
}

#rota:hover {
    border-color: var(--header-color);
    box-shadow: 0 0 5px rgba(21,101,192,0.3);
}
