@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

:root {
    --header-color: #1565C0;
    --color-fundo: #E3F2FD;
    --cor-cards: #BBDEFB;
    --cor-titulo: #1976D2;
    --font-titulo: "Sail", system-ui;
    --text-banner: "Cinzel", serif;
    --cor-botoes: #90CAF9;
}
main {
  padding: 40px;
  background-color: var(--color-fundo); /* fundo azul clarinho */
  min-height: 70vh; /* ocupa boa parte da tela */
}

.mapa {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  top: -100px;
}

.local-selecionado h2 {
  color: var(--cor-titulo); /* azul elegante */
  font-size: 28px;
  margin-bottom: 20px;
}

.card-local {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  background-color: var(--cor-botoes); /* azul mais forte pra destacar */
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.imagem-local {
  flex: 1;
}

.imagem-local h3 {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.imagem-local img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  display: block;
}

.texto-local {
  flex: 2;
}

.texto-local h2 {
  color: var(--cor-titulo);
  font-size: 22px;
  margin-bottom: 10px;
}

.texto-local p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

