@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
:root {
    --header-color: #1565C0;
    --color-fundo: #E3F2FD;
    --cor-cards: #BBDEFB;
    --cor-titulo: #1976D2;
    --font-titulo: "Sail", system-ui;
    --text-banner: "Cinzel", serif;
}

body {
    background-color: var(--color-fundo);
    margin: 0%;
}

header{
    background-color: var(--header-color);
    color: white;
    display: flex;
    justify-content: space-evenly;
    gap: 500px;
    align-items: center;
    padding: 15px 30px;
}

header h1 {
    font-family:var(--font-titulo) ;
    font-size: 22px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.banner {
    margin-top: -2vh;
   top: 15%;
   width:100%;
   height: 650px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.banner h2 {
    font-family: var(--text-banner);
    color: white;
    font-size: 40px;
    text-align: center;
}

.banner img {
    width: 98%;
    height: 90%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    border-radius: 20px;
}

.historia {
    padding: 40px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.texto 